<app-custom-header title="Reporte Productos"></app-custom-header>
<ion-content fullscreen>
  <div>
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Dashboard detalle de Productos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
            <dx-data-grid id="gridContainer" [dataSource]="listaEntradasSalidas" [remoteOperations]="false"
            [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" [columnAutoWidth]="true"
            keyExpr="idCajaChica">
            <dxo-summary>
             
              
              <dxi-group-item
                  column="tipoOperacion" 
                  summaryType="count" displayFormat="Cantidad: {0}">
              </dxi-group-item>
              <dxi-group-item
                  column="monto"
                  summaryType="sum" displayFormat="Total: {0}"  [valueFormat]="{type:'fixedPoint',precision:2}">
              </dxi-group-item>
            </dxo-summary>


            <dxo-editing [allowUpdating]="true">
            </dxo-editing>
            <!-- <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export> -->
            <dxo-paging [pageSize]="50"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100, 200]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  
            <dxi-column dataField="tipoOperacion" caption="Entrada/Salida" dataType="string" [groupIndex]="0"
              [allowEditing]="false"></dxi-column>
            <dxi-column dataField="concepto" caption="Concepto" dataType="string"
              [allowEditing]="false"></dxi-column>
            <dxi-column dataField="monto" caption="Monto" dataType="number" format="#.##"
              [allowEditing]="false"></dxi-column>
            <dxi-column dataField="estadoDescripcion" caption="Estado" dataType="string"
              [allowEditing]="false"></dxi-column>
            <dxi-column type="buttons" caption="Opciones">
              <dxi-button name="edit" text="Anular" hint="Anular Operacion" icon="close" [onClick]="anularOperacion">
              </dxi-button>
            </dxi-column>
          </dx-data-grid>
 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
