<app-custom-header title="Pedido"></app-custom-header>
<ion-content fullscreen>
  <div *ngIf="showMain">
    <ion-list>
      <ion-row>
        <ion-col size="6">
          <h3>Orden actual</h3>
        </ion-col>
        <ion-col size="6">
          <h2 class="text-total">Total Bs {{totalVenta}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="productosAvender.length === 0">
          NO SE TIENEN PRODUCTOS SELECCIONADOS
        </ion-col>
        <ion-col size="12" *ngIf="productosAvender.length > 0">
          <ion-grid fixed>
            <ion-row class="cabeceraTabla">
              <ion-col size="1"> </ion-col>
              <ion-col size="2"> Cant </ion-col>
              <ion-col size="2"> Unid </ion-col>
              <ion-col size="5">Producto</ion-col>
              <ion-col size="2">Total</ion-col>
            </ion-row>
            <ion-row
              class="detalleTabla"
              *ngFor="let producto of productosAvender"
            >
              <ion-col size="1">
                <div (click)="quitarProducto(producto)">
                  <ion-icon
                    name="remove-circle-outline"
                    color="danger"
                    class="ico-menos"
                    slot="start"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col size="2" class="text-detalle">
                {{producto.cantidadVendida}}
              </ion-col>
              <ion-col size="2" class="text-detalle">
                {{producto.unidad}}
              </ion-col>
              <ion-col size="5" class="text-detalle"
                >{{producto.nombreProducto}}</ion-col
              >
              <ion-col size="2" class="text-detalle"
                >{{producto.total}}</ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="cardfooter">
        <ion-col>
          <ion-button color="success" shape="round" (click)="realizarPago(1)">
            EFE
          </ion-button>
          <ion-button color="warning" shape="round" (click)="realizarPago(2)">
            POS
          </ion-button>
          <ion-button color="danger" shape="round" (click)="realizarPago(3)">
            TIC
          </ion-button>
          <ion-button color="medium" shape="round" (click)="realizarPago(-1)">
            MIX
          </ion-button>
          <!-- <ion-button color="tertiary" shape="round" (click)="realizarPago(5)">
            POS FAB
          </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-searchbar
      animated="true"
      (ionChange)="buscar($event)"
      placeholder="Categoria"
    ></ion-searchbar>
    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-list>
          <ion-grid
            fixed
            *ngFor="let producto of productsSlides1 | filtro: textoBusacar:'categoria'"
          >
            <ion-row class="cabeceraTabla">
              <ion-col size="6" class="text-gotico"
                >{{ producto.categoria }}</ion-col
              >
              <ion-col size="3">{{producto.etiquetaIzquierda}}</ion-col>
              <ion-col size="3">{{producto.etiquetaDerecha}}</ion-col>
            </ion-row>
            <ion-row
              class="detalleTabla"
              *ngFor="let productodet of producto.detalle"
            >
              <ion-col size="6" class="text-detalle">
                {{ productodet.nombreProducto }}</ion-col
              >
              <ion-col size="3">
                <ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioIzquierda, productodet.precioIzquierda, productodet.etiquetaIzquierda)"
                  *ngIf="productodet.precioIzquierda  > 0"
                  >Bs. {{ productodet.precioIzquierda }}
                </ion-button></ion-col
              >
              <ion-col size="3"
                ><ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioDerecha, productodet.precioDerecha, productodet.etiquetaDerecha)"
                  *ngIf="productodet.precioDerecha  > 0"
                  >Bs. {{ productodet.precioDerecha }}
                </ion-button></ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list>
          <ion-grid
            fixed
            *ngFor="let producto of productsSlides2 | filtro: textoBusacar:'categoria'"
          >
            <ion-row class="cabeceraTabla">
              <ion-col size="6" class="text-gotico"
                >{{ producto.categoria }}</ion-col
              >
              <ion-col size="3">{{producto.etiquetaIzquierda}}</ion-col>
              <ion-col size="3">{{producto.etiquetaDerecha}}</ion-col>
            </ion-row>
            <ion-row
              class="detalleTabla"
              *ngFor="let productodet of producto.detalle"
            >
              <ion-col size="6" class="text-detalle">
                {{ productodet.nombreProducto }}</ion-col
              >
              <ion-col size="3">
                <ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioIzquierda, productodet.precioIzquierda, productodet.etiquetaIzquierda)"
                  *ngIf="productodet.precioIzquierda  > 0"
                  >Bs. {{ productodet.precioIzquierda }}
                </ion-button></ion-col
              >
              <ion-col size="3"
                ><ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioDerecha, productodet.precioDerecha, productodet.etiquetaDerecha)"
                  *ngIf="productodet.precioDerecha  > 0"
                  >Bs. {{ productodet.precioDerecha }}
                </ion-button></ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list class="list-slide">
          <ion-grid
            fixed
            *ngFor="let producto of productsSlides3 | filtro: textoBusacar:'categoria'"
          >
            <ion-row class="cabeceraTabla">
              <ion-col size="6" class="text-gotico"
                >{{ producto.categoria }}</ion-col
              >
              <ion-col size="3">{{producto.etiquetaIzquierda}}</ion-col>
              <ion-col size="3">{{producto.etiquetaDerecha}}</ion-col>
            </ion-row>
            <ion-row
              class="detalleTabla"
              *ngFor="let productodet of producto.detalle"
            >
              <ion-col size="6" class="text-detalle">
                {{ productodet.nombreProducto }}</ion-col
              >
              <ion-col size="3">
                <ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioIzquierda, productodet.precioIzquierda, productodet.etiquetaIzquierda)"
                  *ngIf="productodet.precioIzquierda  > 0"
                  >Bs. {{ productodet.precioIzquierda }}
                </ion-button></ion-col
              >
              <ion-col size="3"
                ><ion-button
                  (click)="registroVenta(productodet, productodet.idPrecioDerecha, productodet.precioDerecha, productodet.etiquetaDerecha)"
                  *ngIf="productodet.precioDerecha  > 0"
                  >Bs. {{ productodet.precioDerecha }}
                </ion-button></ion-col
              >
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
  <app-forma-pago
    *ngIf="showCobrar"
    [montoTotal]="totalVenta"
    (eventCobrar)="realizarPagoMix($event)"
    (eventCancelar)="cancelarPago()"
  ></app-forma-pago>

  <div *ngIf="showPOS" >
    <ion-card >
        <app-reader-card
        #appreadercard
        (readCard)="reciveTarjeta($event)"
        ></app-reader-card>
        <ion-label>
          <h3>{{mensajeTarjeta}}</h3>
        </ion-label>
        <ion-button
        (click)="cancelarPago()"
        *ngIf="showButtonVolver"
        >Volver
      </ion-button>
    </ion-card>

  </div>

</ion-content>
