backend/CoreAccesLayer/bin
backend/CoreAccesLayer/obj
backend/Iza.Core/bin/
backend/Iza.Core/obj/
backend/Iza.Core.Test/bin/
backend/Iza.Core.Test/obj/
backend/Iza.Services/bin/
backend/Iza.Services/obj/
backend/PlumbingProps/bin/
backend/PlumbingProps/obj/
.vs
backend/.vs/InvoiceService/v17/.suo
backend/Security.API/bin/
backend/Security.API/obj/
backend/Security.Core/bin/
backend/Security.Core/obj/
backend/Iza.Core.Test/obj/Debug/net8.0/Iza.Core.Test.GeneratedMSBuildEditorConfig.editorconfig
PinterUtil/PrinterGamatek/PrinterGamatek/bin/
PinterUtil/PrinterGamatek/PrinterGamatek/obj/
PinterUtil/PrinterGamatek/packages/
