backend/CoreAccesLayer/bin/
backend/CoreAccesLayer/obj/
backend/Invoice.Core/bin/
backend/Invoice.Core/obj/
backend/Invoice.Core.Test/bin/
backend/Invoice.Core.Test/obj/
backend/InvoiceService/bin/
backend/InvoiceService/obj/
backend/PlumbingProps/bin/
backend/PlumbingProps/obj/
backend/TestSINConsole/obj/
backend/.vs/
backend/TestSINConsole/bin/