<app-custom-header title="Entregas"></app-custom-header>
<ion-content>
  <ion-searchbar
    animated="true"
    (ionChange)="buscarPedidos($event)"
    placeholder="documento"
  ></ion-searchbar>
  @if (listaPedidos) {
    <ion-list>
      @for (cliente of listaPedidos | filtro:textoBusacar:'documento'; track cliente) {
        <div>
          <ion-item>
            <p>PEDIDO: {{cliente.idPedMaster}}-</p>
            <ion-label>{{cliente.documento}} {{cliente.nombreCliente}}</ion-label>
          </ion-item>
          <ion-button
            (click)="entregarPedido(cliente.idPedMaster)"
            expand="block"
            shape="round"
            >
            Entregar
          </ion-button>
          <ion-card>
            @for (detalle of cliente.detallePedidosEntregar; track detalle) {
              <ion-item>
                <ion-label>{{detalle.producto}}</ion-label>
                <ion-label>{{detalle.cantidad}}</ion-label>
                <ion-label>{{detalle.precio}}</ion-label>
              </ion-item>
            }
          </ion-card>
        </div>
      }
    </ion-list>
  }
</ion-content>
