<app-custom-header title="Movimiento del Stock"></app-custom-header>
<ion-content fullscreen>
  <h1>Totales</h1>
  <ion-grid fixed *ngIf="dataMovimiento">
    <ion-row class="cabeceraTabla">
      <ion-col size="3">#Id</ion-col>
      <ion-col size="4">Producto</ion-col>
      <ion-col size="5">Cantidad</ion-col>
    </ion-row>
    <ion-row
      class="detalleTabla"
      *ngFor="let mov of dataMovimiento.productoTotalizado"
    >
      <ion-col size="3">{{mov.idProducto}}</ion-col>
      <ion-col size="4">{{mov.nombreProducto}}</ion-col>
      <ion-col size="5">{{mov.cantidadStock | number : '1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
  <h1>Detalle</h1>
  <ion-grid fixed *ngIf="dataMovimiento">
    <ion-row class="cabeceraTabla">
      <ion-col size="1">#</ion-col>
      <ion-col size="3">Fecha</ion-col>
      <ion-col size="1">#Id</ion-col>
      <ion-col size="5">Producto</ion-col>
      <ion-col size="2">Cant.</ion-col>
    </ion-row>
    <ion-row
      class="detalleTabla"
      *ngFor="let mov of dataMovimiento.detalleStockAlmacen"
    >
      <ion-col size="1">{{mov.idPedido}}</ion-col>
      <ion-col size="3">{{mov.fechaRegistro}}</ion-col>
      <ion-col size="1">{{mov.idProducto}}</ion-col>
      <ion-col size="5">{{mov.nombreProducto}}</ion-col>
      <ion-col size="2">{{mov.cantidadMovimiento | number : '1.2-2'}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
