<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Realizar el Pago</ion-card-subtitle>
    <section>
      Total: {{ montoTotal | number: "1.2-2" }}
      @if (diferencia !== 0) {
        <span class="dangger"
          >Diferencia {{ diferencia }}</span
          >
        }
      </section>
    </ion-card-header>
    <ion-card-content>
      @if (listFormasPago) {
        <ion-list>
          @for (formaPago of listFormasPago; track formaPago) {
            <ion-item>
              <ion-label>{{ formaPago.formaDePago }}</ion-label>
              <ion-input
                type="number"
                placeholder="monto de pago"
                [(ngModel)]="formaPago.value"
                (ionChange)="calcularDifrencia($event)"
              ></ion-input>
            </ion-item>
          }
        </ion-list>
      }
      <ion-button (click)="cobrar()" expand="block" fill="clear" shape="round">
        Cobrar
      </ion-button>
      <ion-button
        (click)="cancelar()"
        expand="block"
        fill="clear"
        shape="round"
        color="danger"
        >
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>
