.myphoto {
  width: auto !important;
  align-items: center;
  margin: 2em;
  display: block;
}

.img-inner {
  max-height: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: block;

  @media (max-width: 767px) {
    max-height: 400px;
    margin: 0 auto;
  }
}
