<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SISTEMA DE VENTAS - FARMACIA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="full-screen">
    <ion-row>
      <ion-col size="8" class="imagen-login">
        <img src="./assets/fondo_gamatek.png" class="imagen-login-fondo" />
      </ion-col>
      <ion-col size-lg="4" size-xl="4" size-md="4" size-xs="12">
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <form>
                <ion-item lines="full">
                  <ion-label position="floating" class="label-login">Usuario</ion-label>
                  <ion-input type="text" name="Usuario" fill="outline" [(ngModel)]="logidata.Usuario"
                    required="true"></ion-input>
                </ion-item>
                <ion-item lines="full">
                  <ion-label position="floating" class="label-login">Contraseña</ion-label>
                  <ion-input type="password" name="Password" [(ngModel)]="logidata.Password"
                    required="true"></ion-input>
                </ion-item>
              </form>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" (click)="iniciarsesion(logidata)" expand="block">Iniciar
              Sesión</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">Version {{version}}<br />
            <ion-note>contactos@gamatek.org</ion-note>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>