<ion-menu contentId="main-content" type="overlay" menuId="custom">
  <ion-content>
    <!-- Header de usuario -->
    <div class="menu-header">
      <div class="menu-header__avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
      <div class="menu-header__info">
        <span class="menu-header__name">{{ usuario }}</span>
        <span class="menu-header__role">{{ rol }}</span>
      </div>
    </div>
    <div class="menu-divider"></div>

    <!-- Ítems de navegación -->
    <ion-list lines="none" class="menu-list">
      @for (p of appPages; track p) {
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" [routerLink]="[p.url]"
            detail="false" routerLinkActive="selected" class="menu-item">
            <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>

  <!-- Footer fijo con logout y versión -->
  <ion-footer class="menu-footer">
    <div class="menu-divider"></div>
    <ion-item button detail="false" class="menu-item menu-item--logout"
      (click)="cerrarSesion()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
    <p class="menu-version">v{{ version }}</p>
  </ion-footer>
</ion-menu>
