<app-custom-header title="Pedido"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    <!--menu de tragos-->
    @if (showCardSearch) {
      <div>
        <!-- <ion-select
        placeholder="Elija una barra"
        (ionChange)="selectBarra($event)"
        [value]="barraCurrent"
        >
        <ion-select-option *ngFor="let barra of barras" [value]="barra"
          >{{barra.descripcion}}</ion-select-option
          >
        </ion-select> -->
        <ion-searchbar
          animated="true"
          (ionChange)="buscar($event)"
          placeholder="Producto"
        ></ion-searchbar>
        <ion-list>
          @for (producto of productos | filtro:textoBusacar:'categoria'; track producto) {
            <div>
              <ion-list-header class="text-gotico"
                >{{producto.categoria}}</ion-list-header
                >
                @for (productodet of producto.detalle; track productodet) {
                  <ion-item>
                    @if (productodet.embase === 'Botella') {
                      <ion-avatar slot="start">
                        <img src="../../../assets/icon/botella.png" />
                      </ion-avatar>
                    }
                    @if (productodet.embase === 'Vaso') {
                      <ion-avatar slot="start">
                        <img src="../../../assets/icon/vaso.jpg" />
                      </ion-avatar>
                    }
                    @if (productodet.categoria === 'Pócimas') {
                      <ion-avatar
                        slot="start"
                        >
                        <img src="../../../assets/icon/pocima.png" />
                      </ion-avatar>
                    }
                    <p>Bs. {{productodet.precio}} {{productodet.nombreProducto}}</p>
                    <ion-button slot="end" (click)="registroVenta(productodet)"
                      >Vender
                    </ion-button>
                  </ion-item>
                }
              </div>
            }
          </ion-list>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="verPedido()">
              <ion-icon name="arrow-redo-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      }

      @if (showStockAgotado) {
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Detalle de Productos Agotados</ion-card-subtitle>
          </ion-card-header>
          @if (listDetalleSinStock) {
            <ion-card-content>
              <ion-grid fixed>
                <ion-row class="cabeceraTabla">
                  <ion-col size="2">Id</ion-col>
                  <ion-col size="4">Producto</ion-col>
                  <ion-col size="2">Pedido</ion-col>
                  <ion-col size="2">Saldo</ion-col>
                  <ion-col size="2">Diferencia</ion-col>
                </ion-row>
                @for (stock of listDetalleSinStock; track stock) {
                  <ion-row
                    class="detalleTabla"
                    >
                    <ion-col size="2">{{stock.idProducto}}</ion-col>
                    <ion-col size="4">{{stock.nombreProducto}}</ion-col>
                    <ion-col size="2">{{stock.pedido}}</ion-col>
                    <ion-col size="2">{{stock.enSTOCK}}</ion-col>
                    <ion-col size="2">{{stock.diferencia}}</ion-col>
                  </ion-row>
                }
              </ion-grid>
            </ion-card-content>
          }
        </ion-card>
      }

      <!--pedidos solicitados-->
      @if (showCardProductoSelect) {
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Detalle del Pedido</ion-card-subtitle>
              @if (productosAvender.length > 0) {
                <ion-button
                  (click)="registrarVentaTotal()"
                  expand="block"
                  fill="outline"
                  shape="round"
                  color="secondary"
                  >
                  Terminar Pedido Bs {{ totalVenta | number : '1.2-2'}}
                </ion-button>
              }
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  @for (producto of productosAvender; track producto) {
                    <ion-col
                      size="12"
                      size-lg="3"
                      size-md="4"
                      size-sm="6"
                      size-xs="12"
                      >
                      <ion-item>
                        @if (producto.embase === 'Botella') {
                          <ion-avatar
                            slot="start"
                            >
                            <img src="../../../assets/icon/botella.png" />
                          </ion-avatar>
                        }
                        @if (producto.embase === 'Vaso') {
                          <ion-avatar slot="start">
                            <img src="../../../assets/icon/vaso.jpg" />
                          </ion-avatar>
                        }
                        <ion-card>
                          <ion-card-header>
                            <ion-card-subtitle>{{producto.embase}}</ion-card-subtitle>
                            <ion-card-title>
                              <h3>{{producto.nombreProducto}}</h3>
                              Total: {{producto.precioTotal | number : '1.2-2'}}
                            </ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                            <h3>Cantidad: {{producto.cantidadVendida}}</h3>
                            <ion-button
                              (click)="quitarProducto(producto)"
                              expand="block"
                              fill="clear"
                              color="danger"
                              >
                              Quitar
                            </ion-button>
                          </ion-card-content>
                        </ion-card></ion-item
                        ></ion-col
                        >
                      }
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="verMenu()">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </div>
          }

          @if (!showCardSearch && selectedProducto) {
            <ion-card>
              <ion-card-header>
                <ion-item>
                  <ion-button slot="end" color="danger" (click)="cancelarVenta()">
                    Cerrar
                  </ion-button>
                </ion-item>
              </ion-card-header>
              <ion-card-content>
                <form
                  #formulario="ngForm"
                  (ngSubmit)="registrarVenta(selectedProducto)"
                  >
                  <ion-list>
                    <ion-list-header>
                      <ion-label color="warning"
                        >{{selectedProducto.nombreProducto}}</ion-label
                        >
                      </ion-list-header>
                      <ion-item>
                        <ion-label position="floating"> Cantidad </ion-label>
                        <ion-input
                          type="number"
                          name="cantidad"
                          [(ngModel)]="selectedProducto.cantidadVendida"
                          required="true"
                          (ionBlur)="validarCantidadVenta()"
                        ></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label
                          >Precio de venta: {{ selectedProducto.precio | number :
                          '1.2-2'}}</ion-label
                          >
                        </ion-item>
                        <ion-button
                          expand="full"
                          type="submit"
                          [disabled]="!formulario.valid"
                          >
                          Registrar
                        </ion-button>
                      </ion-list>
                    </form>
                  </ion-card-content>
                </ion-card>
              }

              @if (showMessageErrorNOCajaAbierta) {
                <ion-card>
                  <ion-card-content>
                    <ion-label color="danger"
                      >Debe abrir su caja y elegir con que barra trabajar para realizar las
                      ventas!</ion-label
                      >
                    </ion-card-content>
                  </ion-card>
                }
                @if (showCobrar) {
                  <app-forma-pago
                    [montoTotal]="totalVenta"
                    (eventCobrar)="realizarPago($event)"
                    (eventCancelar)="cancelarPago()"
                  ></app-forma-pago>
                }
              </ion-content>
            </ion-content>
