<app-custom-header title="Asignacion - Productos"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Informacion de Almancen Central</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <label>
              Origen:
            </label>
            <ion-select (ionChange)="selectBarraOrigen($event)">
              <ion-select-option *ngFor="let alamacen of listaAlmancenOrigen" [value]="alamacen">
                {{alamacen.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <label>
              Destino:
            </label>
            <ion-select (ionChange)="selectBarraDestino($event)">
              <ion-select-option *ngFor="let alamacen of listaDestino" [value]="alamacen">
                {{alamacen.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [remoteOperations]="false"
              [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" keyExpr="idProducto"
              (onSaving)="onSaving($event)">
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
              <dxo-editing mode="batch" [allowUpdating]="true" [selectTextOnEditStart]="true">
              </dxo-editing>
              <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
              <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
              <dxi-column dataField="clasificador" caption="Grupo" dataType="string"
                [allowEditing]="false"></dxi-column>
              <dxi-column dataField="nombreProducto" caption="Producto" dataType="string"
                [allowEditing]="false"></dxi-column>
              <dxi-column dataField="stockAnterior" caption="Stock" dataType="number"
                [allowEditing]="false"></dxi-column>
              <dxi-column dataField="ingresos" caption="Ingreso" dataType="number" [allowEditing]="false"></dxi-column>
              <dxi-column dataField="disponibleAlmacenCentral" caption="Disponible" dataType="number"
                [allowEditing]="false"></dxi-column>
              <dxi-column dataField="cantidadAsignada" caption="Asignar" dataType="number"
                [allowEditing]="true"></dxi-column>
            </dx-data-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>