<app-custom-header title="Asignacion - Productos"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Informacion de Almancen Central</ion-card-subtitle>
        <ion-button (click)="obtieneProductos()">Actualizar informacion</ion-button>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Origen</ion-label>
             <ion-select interface="popover"
                        placeholder="Seleccionar Origen"
                        (ionChange)="selectBarraOrigen($event)"
                        [(ngModel)]="barraOrigen.idAlmacen">
              <ion-select-option expand="full" *ngFor="let alamacen of listaAlmancenOrigen" [value]="alamacen.idAlmacen">
                {{alamacen.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Destino</ion-label>
            <ion-select interface="popover" placeholder="Seleccionar Destino" (ionChange)="selectBarraDestino($event)"
                [(ngModel)]="barraDestino.idAlmacen" [disabled]="bloquearDestino">
              <ion-select-option *ngFor="let alamacen of listaDestino" [value]="alamacen.idAlmacen">
                {{alamacen.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [remoteOperations]="false"
              [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true" keyExpr="idProducto"
              (onSaving)="onSaving($event)"
              (onRowValidating)="onRowValidating($event)">
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
              <dxo-editing mode="batch" [allowUpdating]="true" [selectTextOnEditStart]="true">
              </dxo-editing>
              <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
              <dxo-paging [pageSize]="50"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100, 200]"></dxo-pager>
              <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
              <dxi-column dataField="clasificador" caption="Categoria" dataType="string" [allowEditing]="false" [width]="200"></dxi-column>
              <dxi-column dataField="nombreProducto" caption="Producto" dataType="string" [allowEditing]="false" [width]="350"></dxi-column>
              <dxi-column dataField="stockAnterior" caption="Stock" dataType="number" [allowEditing]="false" format="#,##0.00"  [width]="100"></dxi-column>
              <dxi-column dataField="ingresos" caption="Ingreso" dataType="number" [allowEditing]="false" format="#,##0.00" [width]="100"></dxi-column>
              <dxi-column dataField="egresos" caption="Engreso" dataType="number" [allowEditing]="false" format="#,##0.00" [width]="100"></dxi-column>
              <dxi-column dataField="ventas" caption="Ventas" dataType="number" [allowEditing]="false" format="#,##0.00" [width]="100"></dxi-column>
              <dxi-column dataField="disponibleAlmacenCentral" caption="Disponible" dataType="number" [allowEditing]="false" format="#,##0.00" [width]="100"></dxi-column>

              <dxi-column dataField="cantidadAsignada" caption="Asignar" dataType="number" [allowEditing]="true" [width]="100">
                <dxi-validation-rule type="range" [min]="0" message="No se permiten valores negativos"></dxi-validation-rule>

                <dxi-validation-rule
                  type="custom"
                  [validationCallback]="validarCantidadAsignada"
                  message="No puede ser mayor al disponible">
                </dxi-validation-rule>
              </dxi-column>

              <dxi-column dataField="fechaDeVencimiento" caption="Fecha Vencimiento" dataType="date" displayFormat="dd/MM/yyyy" [allowEditing]="true"></dxi-column>


            </dx-data-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
