<app-custom-header title="Cierre Operativo"></app-custom-header>
<ion-content>
  <ion-grid fixed *ngIf="listReporteCierre">
    <ion-row class="cabeceraTabla">
      <ion-col size="4">Barra</ion-col>
      <ion-col size="2" class="numeroTabla">Efectivo</ion-col>
      <ion-col size="2" class="numeroTabla">POS</ion-col>
      <ion-col size="2" class="numeroTabla">Ticket</ion-col>
      <ion-col size="2" class="numeroTabla">Total</ion-col>
    </ion-row>
    <ion-row class="detalleTabla" *ngFor="let cierre of listReporteCierre">
      <ion-col size="4">{{cierre.descripcion}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{cierre.efectivo | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{cierre.pos | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{cierre.ticket | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{cierre.total | number : '1.2-2'}}</ion-col>
    </ion-row>
    <ion-row class="detalleTabla">
      <ion-col size="4"></ion-col>
      <ion-col size="2" class="numeroTabla">{{totalEfec | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{totalPOS | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{totalTicket | number : '1.2-2'}}</ion-col>
      <ion-col size="2" class="numeroTabla">{{total | number : '1.2-2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="imprimir()" expand="block" color="tertiary" shape="round">
          <ion-icon slot="start" name="print-outline"></ion-icon>
          Imprimir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
