<app-custom-header title="Apertura - Inventario"></app-custom-header>
<ion-content fullscreen>
  <ion-content>
    @if (showAperturaInvetario) {
      <ion-card>
        <ion-card-header>
          <section>
            <ion-button expand="block" (click)="abrirInventario()" expand="full" type="submit">Inventario del Día
            </ion-button>
          </section>
        </ion-card-header>
      </ion-card>
    }
    @if (showDetalleInvetario) {
      <ion-card>
        <ion-card-content>
          @if (listaInventario) {
            <ion-list>
              <p>PRODUCTOS</p>
              @for (cliente of listaInventario; track cliente) {
                <div class="item-pedido">
                  <ion-item>
                    <ion-label>{{cliente.nombreProducto}} </ion-label>
                    <ion-label>Cant: {{cliente.cantidad}} </ion-label>
                  </ion-item>
                </div>
              }
            </ion-list>
          }
        </ion-card-content>
      </ion-card>
    }

  </ion-content>
</ion-content>